<a href="https://colab.research.google.com/github/JFEstevezC/Series_for/blob/main/series_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SERES USANDO FOR

In [14]:
# Serie 1: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10

print("-----------------------")
print("------- SERIE 1 -------")
print("-----------------------")


s = "Serie: {"
for i in range(1,11):
  if i < 10:
    s = s + str(i) + ", "
  else:
    s = s + str(i) + "}"

print(s)

-----------------------
------- SERIE 1 -------
-----------------------
Serie: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [13]:
# Serie 2: 1, 4, 9, 16, 25, 36, 49, 64, 81, ...
print("-----------------------")
print("------- SERIE 2 -------")
print("-----------------------")

s = "Serie: {"
for i in range(1,11):
  if i < 10:
    s = s + str(i**2) + ", "
  else:
    s = s + str(i**2) + "}"

print(s)

-----------------------
------- SERIE 2 -------
-----------------------
Serie: {1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [12]:
# Serie 3: 2, 4, 8, 16, 32, 64,...
print("-----------------------")
print("------- SERIE  -------")
print("-----------------------")

s = "Serie: {"
for i in range(1,11):
  if i < 10:
    s = s + str(2**i) + ", "
  else:
    s = s + str(2**i) + "}"

print(s)

-----------------------
------- SERIE  -------
-----------------------
Serie: {2, 4, 8, 16, 32, 64, 128, 256, 512, 1024}

In [ ]:
# Serie 4: 2, 4, 8, 16, 32, 64,...
print("-----------------------")
print("------- SERIE  -------")
print("-----------------------")

s = "Serie: {"
for i in range(1,11):
  if i < 10:
    s = s + str(i**2 + i) + ", "
  else:
    s = s + str(i**2 + i) + "}"

print(s)

-----------------------
------- SERIE  -------
-----------------------
Serie: {2, 6, 12, 20, 30, 42, 56, 72, 90, 110}